html, body {
  background: #efefef;
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: sans-serif;
  font-size: 12pt;
  color: #383838;
}

body {
  display: flex;
  flex-direction: column;
}

header, footer {
  flex-grow: 0;
  text-align: center;

  background: #ffda00;
  font-weight: bold;
}

header {
  padding: 12px;
}

footer {
  padding: 6px;
  font-size: 0.8rem;
}

.hide {
  display: none;
}

.container {
  position: relative;
  flex-grow: 100;
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  text-align: center;
}

.hero {
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  margin: 10px auto;

  background: white;
}
