html, body {
  background: #efefef;
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: sans-serif;
  font-size: 12pt;
  color: #383838;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

header, footer {
  flex-grow: 0;
  text-align: center;

  background: #ffda00;
  font-weight: bold;
}

header {
  padding: 12px;
}

footer {
  padding: 6px;
  font-size: 0.8rem;
}

button {
  color: #ffda00;
  background: #6d6d6d;

  border: none;
  outline: none;
  padding: 0.7rem;
  border-radius: 3rem;
  margin: 0;

  text-transform: lowercase;
  font-weight: bold;
}

button:focus {
  background: #4e4e4e;
}

.hide {
  display: none;
}

.container {
  position: relative;
  flex-grow: 100;
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  text-align: center;
}

.controls {
  margin: 10px 0;
}

.hero {
  width: 100%;
  max-width: 800px;
  margin: 10px auto;

  background: white;
}

.hero svg, .hero img {
  display: block;
  border: 1px solid #bfbfbf;
}
