html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: sans-serif;
  font-size: 12pt;
  color: #f4f4f4;

  background-color: #e0003e;
  background-image: linear-gradient(-100deg,#b900b6,#f50000,#ffd521);
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.sprite {
  display: none;
}

header, footer {
  flex-grow: 0;
  text-align: center;

  font-weight: bold;
}

header {
  padding: 12px;
}

footer {
  padding: 6px;
  font-size: 0.8rem;
}

footer span {
  vertical-align: middle;
}

button {
  color: #f4f4f4;
  background: #e0003e;

  border: none;
  outline: none;
  padding: 0.7rem;
  border-radius: 3px;
  margin: 6px 3px;
  min-width: 10rem;
  padding: 7px 35px;

  text-transform: lowercase;
  font-weight: bold;
}

button:focus {
  background: #ac234c;
}

.hide, .flow.hide {
  display: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;

  flex-grow: 100;
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
  text-align: center;

  border-radius: 6px;
  border-radius: 12px/6px;
  border-radius: 22px/12px;

  color: #383838;
  background: white;
}

.flow {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
}

.flex-center {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.controls {
  margin: auto;
}

.hero {
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
}

.hero svg, .hero img, .hero canvas {
  display: block;
}

.hero img, .hero canvas {
  max-width: 100%;
  max-height: 100%;
}

span.icon {
  position: relative;
  display: inline-block;
  height: 1.1rem;
  width: 1.1rem;
}
svg.icon {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;

  fill: #f4f4f4;
  fill: currentColor;
}
