html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-size: 12pt;
  color: #f4f4f4;

  background-color: #e0003e;
  background-image: linear-gradient(-108deg,#b900b6,#f50000,#ffd521);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body, button {
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

.sprite {
  display: none;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2em;
  padding: 12px;
}

header, footer {
  text-align: center;
  font-weight: bold;
}

footer {
  position: relative;
  height: 2rem;
  padding: 6px;
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  color: #f4f4f4;
}

footer span {
  vertical-align: middle;
}

button {
  color: #f4f4f4;
  background: #e0003e;

  border: none;
  outline: none;
  border-radius: 3px;
  margin: 6px 3px;
  min-width: 10rem;
  padding: 7px 35px;

  text-transform: lowercase;
  font-weight: bold;
}

button:focus {
  background: #d40019;
}

.hide, .flow.hide {
  display: none;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  /* clear the header */
  padding-top: 2.5rem;
  /* clear the footer */
  margin-bottom: -2rem;
}

.wrapper:after {
  content: '';
  display: block;
  /* clear the footer */
  height: 2rem;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  flex-grow: 1;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;

  border-radius: 12px;

  color: #383838;
  background: white;
}

.flow {
  display: flex;
  flex-direction: column;
  flex-grow: 100;
  padding: 1rem 0;
}

.flex-center {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.message {
  display: flex;
  flex-direction: column;

  padding: 0px;
  text-align: center;
  color: #f4f4f4;
  background: #44a252;
  max-height: 0;
  font-weight: bold;
  overflow: hidden;

  transition: max-height 200ms ease, padding 200ms ease;
}

.message.error {
  background: #d64c4f;
}

.message.show {
  padding: 20px;
  max-height: 4rem;
}

.controls {
  margin: auto;
}

.hero {
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
}

.hero svg, .hero img, .hero canvas {
  display: block;
}

.hero img, .hero canvas {
  max-width: 100%;
  max-height: 100%;
}

span.icon {
  position: relative;
  display: inline-block;
  height: 1.1rem;
  width: 1.1rem;
}
svg.icon {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;

  fill: #f4f4f4;
  fill: currentColor;
}
